{% extends 'base.html.twig' %}

{# Titre de l'onglet #}
{% block title %}
	{{ parent() }} - Inscription
{% endblock %}

{# Titre centré dans la page #}
{% block page_title %}Inscription{% endblock %}

{% block body %}
	{# Création d'un formulaire d'inscription via Registration controller #}
	{{ form_start(registrationForm) }}
	<div class="mb-3">
		<label class="form-label" for="registration_form_email">Email</label>
		{{ form_widget(registrationForm.email) }}
	</div>
	<div class="mb-3">
		<label class="form-label" for="registration_form_username">Nom d'utilisateur</label>
		{{ form_widget(registrationForm.username) }}
	</div>
	<div class="mb-3">
		<label class="form-label" for="registration_form_plainPassword">Mot de passe</label>
		{{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	</div>
	<div class="mb-3">
		<label class="form-label" for="registration_form_captcha">Captcha</label>
		{{ form_widget(registrationForm.captcha) }}
	</div>
	<button type="submit" class="btn btn-primary">Inscription</button>
	{{ form_end(registrationForm) }}
{% endblock %}
